@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--back);
    color: var(--black);
    max-width: 100rem;
    position: relative;
}

:root {
    --white: #fff;
    --back: #D1D2D4;
    --black: #000;
    --dark-gray: #898989;
}

 .block{
    background: var(--white);
    border-radius: 15px;
}

 a{
    color: inherit;
 }

 /*---Header----*/
.header {
    margin: 24px 24px 0 24px;
    padding: 15px 24px;
    max-width: 100em;
    margin-bottom: 1.75em;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav div {
    display: flex;  
}

.header__list {
    margin-left: 2.5em;
    max-width: 30em;
    font-size: 1.11em;
    display: flex;
    column-gap: 3.3em;
    align-items:center;
    text-transform: uppercase;
}

.header__list-item {
    color: var(--dark-gray);
}

.header__link-active {
    color: var(--black) ;
}

#header__find {
    max-width: 29.6em;
    margin-right: 6em;
}

#header__input{
    min-width: 20em;
    min-height: 3.5em;
    padding: 0.11em;
    padding-left: 28px;
    border-radius: 30px;
    background: #ECECEC !important;
    color: #000;
}

/**/
#header__input::placeholder, #chats__input::placeholder{
    background-image: url(/images/icons/finder.svg);
    background-size: contain;
    background-repeat:no-repeat;
    padding-left: 28px;
    font-size: 0.875em;
}

#header__input::placeholder{
    color: var(--dark-gray);
}

/*---List of chats----*/
.main {
    margin: 24px;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    height: 77vh;
}

.list_chats {
    width: 24em;
}

.chats__header {
    padding: 1.25em;
    font-weight: 600;
    font-size: 1.35em;
    position: relative;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 1.75em;
}

.chat__header {
    padding: 1.25em;
    font-weight: 600;
    font-size: 1.35em;
    position: relative;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.75em;
}

.chats__header::after{
    content: '';
    background-image: url('/images/icons/pen.svg');
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    right: 27px;
    width: 1.5em;
    height: 1.5em;
}

.chats__list {
    font-weight: 600;
    font-size: 0.875em;
    display: flex;
    align-items:center;
}

.chats__list-item {
    width: 50%;
    text-align: center;
    padding-bottom: 0.81em;
    border-bottom: 2px solid var(--back);
    color: var(--dark-gray);
}

.chats__list-item.active{
    color: var(--black);
    border-bottom: 2px solid var(--black);
}

.list__waiting {
    padding: 0.8em;
    max-height: 26em;
    overflow-y: auto;
    overflow-x: hidden;
}

.list__waiting::-webkit-scrollbar-track{
    width: 0;
}

#chats__input{
    background: #ECECEC;
    border-radius: 20px;
    padding: 0.7em;
    width: 100%;
    margin-bottom: 12px;
}

.chats__users {
    display: flex;
    flex-direction: column;
}

.chats__users div{
    display: flex;  
}

.chats__user {
    display: flex;
    column-gap: 12px;
    justify-content: space-between;
    padding: 0.8em;
    border-bottom: 1px solid var(--back);
}

.chats__user div{
    display: flex;
    justify-content: center;
}

.user__info {
    display: flex;
    flex-direction: column;
}

.user__name {
    font-weight: 600;
}

.user__mess, .user__status {
    font-size: 0.6rem;
    line-height: 117%;
    color: var(--dark-gray);
}

.user__ordrer-img {
    display: none;
}

.user__img{
    position: relative;
    width: 52px;
    height: 52px;
    margin-right: 12px;
}

.user__img-chat{
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

/* .user__img::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
} */

.list__orders {
}

/*---Main chat-*/
.chat {
    width: 64em;
    position: relative;
}

.chats__messages{
    height: 86%;
    width: 100%;
    padding: 1.3em 3.3em;
}

/*-Add-*/
.scroll{
    padding-right: 22px;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
    width: 0;
}

.messages{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messages::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    opacity: .5;
  }
  
  .messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cecece;
  }
  
  .messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #f9f9fd;
  }

#messages__form{
    position: absolute;
    bottom: 21px;
    width: 95%;
    display: flex;
    column-gap: 1em;
    align-items: center;
}

#messages__input{
    width: 100%;
    min-height: 3.5em;
    padding: 1.1em 1.4em 1.1em 3.3em;
    border-radius: 30px;
    background: #ECECEC !important;
    color: #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#input__send{
    background-image: url('/images/icons/send__icon.svg');
    background-repeat:no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 20px;
}

label{
    position: absolute;
    left: 10px;
}

/*----*/
.message__to, .message__from{
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.875rem 0.625rem;
    margin-bottom: 12px;
    max-width: 420px;
    word-wrap: break-word;
}

.message__to{
    background-color: rgba(217, 217, 217, 0.5);
    margin-right: 0;
    margin-left: auto;
}

.message__from{
    border: 1px solid black;
}

/*--Main form--*/
.modal__wrapper{
    width: 100vw;
    position:absolute;
    top: -24px;
    bottom: 0;
    display:flex;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:100;
}

.modal__window {
    max-width: 35.7em;
    min-height: 30em;
    background-color: #fff;
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 1.35em 1.06em;
}

.main-form__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.67144rem;
}

.main-form__title {
}

.close {
    margin-left: 5em;
}

#main-form__form {
    margin-top: 33px;
    position: relative;
}

#main-form__form div{
    padding-right: 30px;
    height: 30em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#main-form__form input{
    max-width: 100%;
    padding: 0.75em 1.12em;
    background-color: #E7E7E7;
    border-radius: .44em;
}

#submit__btn{
    margin-top: 1.62em;
    font-size: 1.25em;
    background-color: black !important;
    color: #fff;
    border-radius: 30px !important;
    padding: 0.44em;
}

.message__doc{
    margin: 5em auto 0;
    max-width: 22.3em;
    padding: 1.625rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.5rem;
    border: 1px solid black;
    border-radius: .88em;
}

.message__doc button {
    background-color: black;
    border-radius: 1.25rem;
    padding: 0.4375rem 0.75rem;
    gap: 0.625rem;
    color: #fff;
}


.open-file{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.messsage__changed{
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 0.5em;
}

.messsage__changed > div:first-child{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.message__changed-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.messsage__changed h1{
    font-weight: 700;
    font-size: 1rem;
    line-height: 117.5%;
}

.messsage__changed p{
    font-size: 0.875em;
}

.messsage__changed .table__block{
    display: flex;
    gap: 14px;
}

tr, td{
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0 0 8px;
}

td{
    padding-right: 20px;
}

#changes__shortForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 1px solid black;
    padding-left: 20px;
}

#changes__shortForm div{
    max-width: 80px;
    margin-top: 12px;
    justify-content: flex-end;
    max-width: fit-content;
    align-items:center;
}

#changes__shortForm input[type=checkbox]{
    margin-left: 20px;
}

#changes__shortForm input:last-child{
    background-color: black;
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    font-size: 0.75rem;
}

.btns {
    display: flex;
    align-items:center;
}

.btns button{
    padding: 0.4375rem 0.75rem;
    border-radius: 0.9375rem;
    margin-bottom: 40px;
    font-size: 0.875em;
}

.btn-ok{
    border: 1px solid #2EA72B;
    background: #ECFFEB;
    color: #2EA72B;
    margin-right: 0.6em;
}

.btn-not{
    border: 1px solid #A72B2B;
    background: #FFE9E9;
    color: #A72B2B;
}

.download-file{
    cursor: pointer;
}

.download-file-icon{
    cursor: pointer;
    font-size: 30px;
}


/*-----------------------------------------*/
.hidden{
    opacity: 0;
    display: none;
    max-width: 0;
    max-height: 0;
}
