<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/reset.css') }}">
    <title>ggygygyyyg</title>
</head>
<body>
    <header class="header block">
        <div class="header__nav">
            <div>
                <a href="#" class="logo__link"><img src="{{ url_for('static', path='images/logo__img.svg') }}" alt="logo" class="logo__img"></a>
                <ul class="header__list">
                    <li class="header__list-item"><a href="#">Главная</a></li>
                    <li class="header__list-item"><a class="header__link-active" href="#">Чаты</a></li>
                    <li class="header__list-item"><a href="#"> договоров</a></li>
                </ul>
            </div>
            <div>
                <form action="" id="header__find">
                    <input placeholder="Работа, услуги, товары" id="header__input" type="text">
                </form>
                <img src="{{ url_for('static', path='images/icons/user__icon.svg') }}" alt=""><a href="#"></a></img>
            </div>
        </div>
    </header>

    <div class="main">
        <section class="list_chats block">
            <div class="chats__header">Сообщения</div>
            <ul class="chats__list">
                <li class="chats__list-item"><a href="#">Мои заказы</a></li>
                <li class="chats__list-item active"><a href="#">В исполнении</a></li>
            </ul>
            <div class="list__waiting">
                <form action="" id="chats__form">
                    <input placeholder="Поиск по чатам" type="text" name="" id="chats__input">
                </form>
                <ul class="chats__users">
                    {% for chat_user in chats %}
                    <li class="chats__user" data-user_id="{{chat_user.id}}">
                        <div >
                            <div>
                                <img src="{{ url_for('static', path='images/icons/user__chat.svg') }}" alt="" class="user__img">
                                <div class="user__info">
                                    <p class="user__name">{{chat_user.email}}</p>
                                    <p class="user__mess">Здравствуйте!</p>
                                </div>
                            </div>
                        </div>
                        <img src="{{ url_for('static', path='images/order.png') }}" alt="" class="user__ordrer-img">
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="list__orders" display="none"></div>
        </section>
        
        <section class="chat block">
            <div class="chats__user">
                <div>
                    <img src="{{ url_for('static', path='images/icons/user__chat.svg') }}" alt="" class="user__img">
                    <div class="user__info">
                        <p class="user__name">Выберите чат, чтобы начать общение</p>
                        <p class="user__status"></p>
                    </div>
                </div>
            </div>
            <div class="chats__messages">
                <div class="messages"></div>
                <form id="messages__form">
                    <input placeholder="Введите текст" type="text" id="messages__input">
                    <input value="" id="input__send" type="submit">
                    <label><a href="#"><img src="{{ url_for('static', path='images/icons/ion_attach.svg') }}" alt="" class="ion__icon"></a></label>
                </form>
            </div>
        </section>
    </div>

    <section class="modal__wrapper hidden">
        <div class="modal__window">
            <div class="main-form__header">
                <h1 class="main-form__title">Внести изменения</h1>
                <button class="close"><img class="close-img" src="{{ url_for('static', path='images/icons/close__form.svg') }}" alt=""></button>
            </div>
            <form id="main-form__form">
                <div>
                    <input placeholder="Статус" type="text" name="status" id="main-form__status">
                    <input placeholder="Реестровый номер" type="text" name="registry-num" id="main-form__registry-num">
                    <input placeholder="Осуществленная закупка" type="text" name="purchase" id="main-form__purchase">
                    <input placeholder="Закон" type="text" name="law" id="main-form__law">
                    <input placeholder="Способ осуществления закупки" type="text" name="way-purchase" id="main-form__way-purchase">
                    <input placeholder="Номер" type="text" name="number" id="main-form__number">
                    <input placeholder="Период действия" type="text" name="period" id="main-form__period">
                    <input placeholder="Предмет контракта" type="text" name="itemOfContract" id="main-form__itemOfContract">
                    <input placeholder="Место заключения" type="text" name="place" id="main-form__place">
                    <input placeholder="ИКЗ" type="text" name="ikz" id="main-form__ikz">
                    <input placeholder="Источник финансирования" type="text" name="source" id="main-form__source">
                    <input placeholder="Сумма" type="text" name="summ" id="main-form__summ">
                    <input placeholder="Сумма" type="text" name="summ" id="main-form__summ">
                    <input placeholder="Сумма" type="text" name="summ" id="main-form__summ">
                </div>
                <input value="отправить" type="submit" name="submit" id="submit__btn">
            </form>
        </div>
        <div class="dark__back"></div>
    </section>

    <script src="{{ url_for('static', path='js/chat.js') }}"></script>
</body>
</html>