<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/registr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/reset.css') }}">
    <title>Document</title>
</head>
<body>
    
    <section class="signIn">
        <img src="/images/icons/white__logo.svg" alt="logo" class="logo">
        <form action="" id="form__signIn" method="post">
            <input placeholder="Почта" type="email" name="" id="email">
            <input placeholder="Пароль" type="password" name="" id="password">
            <div class="block__under-form">
                <div class="checkbox">
                    <input type="checkbox" name="" id="checkbox__input">
                    <label class="checkbox__label" for="checkbox__input">Запомнить меня</label>
                </div>
                <a href="#">Забыли пароль?</a>
            </div>
            <input value="Зарегистрироваться" type="submit" name="" id="input__send">
        </form>
        <div class="line__signIn-with">или войти через</div>
        <div class="btns">
            <a href="#" class="gosuslugi"><img src="./images/icons/gosuslugi.svg" alt=""></a>
            <a href="#" class="ezp"><img src="./images/icons/ezp.svg" alt=""></a>
        </div>
        <p class="btn__logIn-p">Уже есть аккаунт? <a class="btn__logIn" href="#">Войти</a></p>
    </section>


    <script src="{{ url_for('static', path='js/registr.js') }}"></script>
</body>
</html>